#blog-container article,
article#blog-post-container {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    width: 95%;
    font-size: 15px;
}

#blog-container article > h1,
#blog-container article > a > h1,
article#blog-post-container > h1,
article#blog-post-container > a > h1 {
  font-size: 40px;
  margin: 25px 0 15px;
}

#blog-container article > a:hover,
article#blog-post-container > a:hover { text-decoration: none !important; }

#blog-container article > a.read-more-button,
article#blog-post-container > a.read-more-button {
    line-height: 42px;
    border-radius: 100px;
    text-align: center;
    margin: 30px auto;
    text-shadow: 0 0 1px white;
    color: #666;
    display: block;
    transition: transform .2s;
    border: 3px solid #E9E9E9;
    width: 120px;
}

#blog-container article > a.read-more-button:hover,
article#blog-post-container > a.read-more-button:hover {
    transform: scale(1.05);
    text-decoration: none;
}

#blog-container article time,
article#blog-post-container time {
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-right: 10px;
}

#blog-container article time::before,
article#blog-post-container time::before {
    content: '';
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAW0lEQVR4AWMgAcyYicZGgKke0x/N/I8Opz+a7AlVAOTigHAF2C0lSQGcBcOkmgAhqWcCpoJnk2Qw9U+SmfkMFrAdM7fBlSCkt83ogJnAClTyDC0UnwHFWBmoAABeoGyUiuDGtQAAAABJRU5ErkJggg==');
    position: relative;
    top: -1px;
}

article#blog-post-container #share-buttons-wrapper {
    vertical-align: middle;
    display: inline-block;
}

article#blog-post-container .share-button {
    font-size: 35px;
    margin-left: 5px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

article#blog-post-container .share-button:hover { text-decoration: none; }

#blog-container article img,
article#blog-post-container img {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.3);
    margin: 40px auto;
    display: block;
    border-radius: 3px;
    max-width: 100%;
}

#blog-container > hr,
#blog-post-container > hr {
    width: 0;
    box-shadow: 0 7px rgba(0, 0, 0, .3);
}
