:root {
  --border-radius: 10px;
}

body { margin-bottom: 100px; }

.paper a.blue-button-link:hover, .paper a.blue-button-link:hover article a.blue-button-link:hover {
    transform: scale(1.02);
    text-decoration: none;
}

article img, article video {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .3);
    margin: 20px auto;
    display: block;
    border-radius: 3px;
    max-width: 100%;
}

.separator {
    margin: 100px auto;
}

#content > h1 { text-align: center; }

.projects-preview {
    margin: auto;
    text-align: center;
    max-width: 1700px;
}

.projects-preview .paper {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 300px;
    margin: 10px;
    height: 510px;
    text-align: left;
    transition: transform .2s;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.projects-preview .paper:hover {
    transform: scale(1.03)
}

.projects-preview a, .projects-preview a:hover, .projects-preview a:active {
    text-decoration: none;
    color: black;
    font-weight: inherit;
}

.projects-preview .paper h4 {
    margin: 20px;
    line-height: 1.2em;
}

.projects-preview .project-img {
    height: 390px;
    display: block;
    line-height: 390px;
    background: white;
}

.projects-preview .project-img img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.projects-preview .github {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 135px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    text-align: right;
    padding: 8px 15px;
    color: #000;
    font-weight: bold;
}

.projects-preview .github i:last-child {
    margin-left: 11px;
}

.projects-preview .github i {
    margin: 0 5px;
}

@media screen and (max-width: 980px) and (min-width: 450px) {
    .projects-preview .paper {
        width: 200px;
        height: 385px;
    }

    .projects-preview .project-img {
        height: 260px;
        line-height: 260px;
    }

    .projects-preview h4 {
        font-size: 20px;
        line-height: 30px;
    }
}

a.read-more-button {
    line-height: 42px;
    border-radius: var(--border-radius);
    text-align: center;
    margin: 30px auto;
    text-shadow: 0 0 1px white;
    color: #666;
    display: block;
    transition: color .2s, box-shadow 1s;
    border: 3px solid #E9E9E9;
    width: 120px;
}

a.read-more-button:hover {
    box-shadow: inset 0 -60px 0 0 #E9E9E9;
    color: black;
    text-decoration: none;
}

#blog-preview-container {
  box-shadow: 0 -10px 100px rgba(0,0,0,.1);
  padding-top: 50px;
  margin-top: 100px;
}

#blog-preview-container > h1 { text-align: center }

#blog-container article,
#blog-preview-container article,
#blog-post-container {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    width: 95%;
    font-size: 15px;
}

#blog-container article > a > h1,
#blog-preview-container article > a > h1 {
    margin: 10px 0;
    font-size: 30px;
    color: black;
}

#blog-post-container > h1 {
    font-size: 40px;
}

#blog-container article > a:hover,
#blog-preview-container article > a:hover,
#blog-post-container > a:hover  { text-decoration: none !important; }

#blog-container time,
#blog-preview-container time,
#blog-post-container time {
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 3px;
}

#blog-container time::before,
#blog-preview-container time::before,
#blog-post-container time::before {
    content: '';
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAW0lEQVR4AWMgAcyYicZGgKke0x/N/I8Opz+a7AlVAOTigHAF2C0lSQGcBcOkmgAhqWcCpoJnk2Qw9U+SmfkMFrAdM7fBlSCkt83ogJnAClTyDC0UnwHFWBmoAABeoGyUiuDGtQAAAABJRU5ErkJggg==');
    position: relative;
    top: -1px;
}

#blog-container article img,
#blog-post-container img {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.3);
    margin: 40px auto;
    display: block;
    border-radius: 3px;
    max-width: 100%;
}

#blog-preview-container h2,
#blog-preview-container h3,
#blog-preview-container h4,
#blog-preview-container h5,
#blog-preview-container h6 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left!important;
}

footer {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 50px;
}

footer a {
    font-size: 1.2em;
    position: relative;
    padding: 0 20px;
    display: inline-block;
    color: inherit!important;
}

footer a::before, footer a::after {
    content: '';
    display: block;
    position: absolute;
    background: #5c616c;
    width: 6px;
    height: 6px;
    box-shadow: 7px 0 rgba(0, 0, 0, .3);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

footer a::after { right: 0; }
footer a::before { left: 0; }

@media screen and (max-width: 570px) {
    .bash {
        padding-left: 20px;
        font-size: 10px;
    }

    h1 {
        font-size: 45px;
    }

    h1 {
        font-size: 40px;
        line-height: 60px;
    }

    h2 {
        font-size: 32px;
        font-weight: lighter;
        line-height: 40px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
        padding: 0;
    }

    h6 {
        font-size: 15px;
        padding: 0;
    }
}

@keyframes loading-element {
    0% {
        width: 0;
    }
    5% {
        transform: none;
        width: 20%;
    }
    10% {
        transform: translateX(20vw);
        width: 4px;
    }
    35% {
        transform: translateX(80vw);
        width: 4px;
    }
    40% {
        width: 30%;
        transform: translateX(80vw);
    }
    45% {
        transform: translateX(110vw);
    }
    46% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

body.loading #loading-animation div {
    display: block;
}

#loading-animation div {
    left: 0;
    top: 2px;
    display: none;
    position: fixed;
    z-index: 1000;
    height: 4px;
    border-radius: 4px;
    background: #B8174C;
    box-shadow: 0 1px 0 black;
    animation: loading-element 5s infinite;
}

#loading-animation div:nth-child(2) {
    margin-left: -8px;
    animation-delay: .25s;
}

#loading-animation div:nth-child(3) {
    margin-left: -16px;
    animation-delay: .5s;
}

#loading-animation div:nth-child(4) {
    margin-left: -24px;
    animation-delay: .75s;
}

#loading-animation div:nth-child(5) {
    margin-left: -32px;
    animation-delay: 1s;
}

#support-banner {
    line-height: 40px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    text-align: center;
    padding: 0 20px;
    z-index: 100;
    font-size: 14px;
    color: #000;
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
    transition: transform .2s;
}

#support-banner > span {
    border: 2px solid #000;
    padding: 0 4px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 26px;
    font-size: 12px;
    transform: translateY(-1px);
    display: inline-block;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

.new::after {
    display: block;
    content: '';
    position: relative;
    width: 45px;
    height: 45px;
    background-size: 100%;
    background-image: url(/content/img/new.svg);
    animation: bounce 0.5s cubic-bezier(.5, 0.05, 1, .5) infinite alternate;
}

.projects-preview .paper.new::after {
    width: 80px;
    height: 80px;
    right: 15px;
    bottom: 0;
    position: absolute;
}

@media screen and (max-width: 750px) {
    header { width: 100%; }
}

@media screen and (max-width: 360px) {
    #support-banner { font-size: 12px;}
}

/* Google code-prettify colors */

.prettyprint, pre.prettyprint {
    display: block;
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
    border: none;
}
.prettyprint .str { color: #367bf0; }
.prettyprint .kwd { color: #b8174c; font-weight: bold }
.prettyprint .com { color: #49AEE6; }
.prettyprint .typ { color: #19A187; font-weight: bold }
.prettyprint .lit { color: #FD7D00; }
.prettyprint .pun { color: #5c616c; }
.prettyprint .pln { color: #5c616c; }
.prettyprint .tag { color: #bf2e5e; font-weight: bold }
.prettyprint .atn { color: #19A187; font-weight: bold }
.prettyprint .atv { color: #fd7d00; }
.prettyprint .dec { color: #8c42ab; }

